.jumbotron{
    background-color: #484d53;
    color: white;
    margin-bottom: 5%;
}
.img-fluid{
    filter: brightness(0.7) grayscale(100);
    transition: 0.2s ease-in-out;    
    border-radius: 4%;
}
.img-fluid:hover{
    filter: brightness(1);
    transform: scale(1.06);
    transition: 0.2s ease-in-out;
}
.col-lg-4{
    margin-bottom: 5%;
}
body{
    background-color: rgba(255, 255, 255, 0.884);
}
.container{
    background-color: #e0e0e0;
    padding-top: 2%;
}